<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  	<head>
  		<title>Hauptansicht</title>
    	<!-- Bootstrap core CSS -->
   		<link href="../css/bootstrap-5.0.0-beta1/dist/css/bootstrap.min.css" th:href="@{/css/bootstrap-5.0.0-beta1/dist/css/bootstrap.min.css}" rel="stylesheet">
      	   
    	<!-- Custom styles for this template -->
    	<link href="../css/starter-template.css" th:href="@{/css/starter-template.css}" rel="stylesheet">
		<link href="../css/signout.css" th:href="@{/css/signout.css}" rel="stylesheet">
    </head>
	<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<div class="container-fluid">
			<a class="navbar-brand" aria-current="page" th:href="@{/hauptansicht}">bet-at-brucks</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault"
				aria-controls="navbarsExampleDefault" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item"><a class="nav-link" th:href="@{/userInfo}">UserInfo</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/userInfo}">Spiele</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/userInfo}">Tabelle</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/userInfo}">Konfiguration</a></li>
				</ul>
				<form th:action="@{/logoutPage}">
                	<button type="submit"  class="btn btn-link btn-logout">Logout</button>
                </form>
			</div>
		</div>
	</nav>

	<main class="container">

		<div class="starter-template text-center py-5 px-3">
			<h1>Bootstrap starter template</h1>
			<p class="lead">
				Use this document as a way to quickly start any new project.<br>
				All you get is this text and a mostly barebones HTML document.
			</p>
		</div>

	</main>
	<!-- /.container -->
	<script src="../css/bootstrap-5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
