<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>User Info</title>
    	<!-- Bootstrap core CSS -->
   		<link href="../static/bootstrap/dist/css/bootstrap.min.css" 
      	th:ref="{@/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
    
    	<!-- Custom styles for this template -->
    	<link href="../static/css/starter-template.css" 
      	th:ref="{@/css/starter-template.css}" rel="stylesheet">
		<link href="../static/css/signout.css" 
      	th:ref="{@/css/signout.css}" rel="stylesheet">
    </head>
	<body>

	<th:block th:include="/navbar" ></th:block>  

	<main class="container">
		<div class="starter-template text-center py-5 px-3">
			<h2>User Info Page</h2>
			<h3>
				Welcome : <span th:utext="${#request.userPrincipal.name}"></span>
			</h3>
			<b>This is protected page!</b> <br /> <br />
			<div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
		</div>
	</main>
	<!-- /.container -->
	<script src="../static/bootstrap/dist/js/bootstrap.min.js" th:src="{@/bootstrap/dist/js/bootstrap.min.js}"></script>
       
   </body>
    
</html>