<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Tabelle</title>
<!-- Bootstrap core CSS -->
<link href="../css/bootstrap-5.0.0-beta1/dist/css/bootstrap.min.css"
	th:href="@{/css/bootstrap-5.0.0-beta1/dist/css/bootstrap.min.css}"
	rel="stylesheet">
<script
	src="../css/bootstrap-5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

<!-- Custom styles for this template -->
<link href="../css/starter-template.css"
	th:href="@{/css/starter-template.css}" rel="stylesheet">
<link href="../css/tables.css" th:href="@{/css/tables.css}"
	rel="stylesheet">
<link href="../css/matchDetails.css" th:href="@{/css/matchDetails.css}"
	rel="stylesheet">
	
</head>
<body>

	<th:block th:include="/navbar"></th:block>  
	<form  th:action="@{/matchDetails}" th:object="${newMatchDTO}" method='POST'>
	<div class="container-sm">
		<h2>Match anlegen</h2>
		<div class="form-text">
			<label>Datum </label>
			<input th:field="*{spieltag}" type="date" id="start" name="trip-start"
       			value="2021-01-09"
      				 min="2021-01-09" max="2021-08-31" required autofocus>
      		<label>Anpfiff </label>
      		<input th:field="*{anpfiff}" type="time" id="kickoff" required> 
      		<br>
			<label>Heimteam </label>
			<input th:field="*{heimTeam}" placeholder="heimteam" required>
			<br>
			<label>Auswärtsteam </label>
			<input th:field="*{auswaertsTeam}" placeholder="auswaertsteam" required>
		</div>	
	</div>

	</form>
</body>
</html>